/* custom styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  color: black;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  opacity: 0.75;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p, li, a, td, div {
  font-size: 1.2rem;
  line-height: 1.3;
}

/* page layout */

table.page>tbody>tr:first-child {
  display: flex;
  flex-direction: column;
}

/* main navbar (top) */

table.nav {
  width: 100%;
}

table.nav tbody {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

table.nav tbody tr {
  padding: 0.5rem;
}

table.nav tbody tr:first-child { /* aligns logo left */
  margin-right: auto;
}

table.nav tbody tr:last-child { /* targets join 'button' */
  border: 1px solid black;
  margin-right: 1rem;
}

/* image banner */

table.image-banner tbody tr {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

table.image-banner tbody tr td {
  flex: 1 0 15%;
  height: auto;
}

table.image-banner tbody tr td a img {
  max-width: 100%;
  height: auto;
}

/* page wrapper */

td.main {
  padding: 1rem 6rem;
  border-top: 1px solid gainsboro;
  border-bottom: 1px solid gainsboro;
}

td.footer {
  padding: 2rem 4rem;
}

/* footer */

td.footer>table {
  width: 100%;
}

td.footer>table>tbody {
  display: flex;
}

td.footer>table>tbody th {
  text-align: left;
  text-decoration: underline;
}

td.footer>table>tbody tr {
  display: flex;
  flex-direction: column;
}

td.footer>table>tbody tr:first-child {
  margin-right: 2rem;
}

td.footer>table>tbody tr:last-child {
  margin-left: auto;
  font-style: italic;
}

/* Some formatting the wiki uses embedded in pages, not in its own stylesheet. */

.frame {
  border: 1px solid #cccccc;
  padding: 4px;
  background-color: #f9f9f9;
}

.lfloat {
  float: left;
  margin-right: 0.5em;
}

.rfloat {
  float: right;
  margin-left: 0.5em;
}