/* custom styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: "Lato", serif;
  color: black;
  margin: 0;
  background: url("assets/hero-img.jpg") no-repeat center center fixed;
  background-size: cover;
}

h1, h2, h3, h4, a.nav, td.footer a {
  font-family: "Literata", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  opacity: 0.75;
}

h1 {
  font-size: 2.4rem;
  color: white;
  border-bottom: 4px double gainsboro;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p, li, a, td, div, span {
  font-size: 1.2rem;
  line-height: 1.5;
}

td.main>table:not(.image-banner) {
  background-color: rgba(255,255,255,0.75);
  padding: 1rem 2rem;
  box-shadow: 0px 0px 2px 1px gainsboro;
}

h2 + div>span>img { /* targets images on projects page */
  max-width: 350px;
}

h2 + div>span { /* targets image captions on projects page */
  font-size: 1.1rem;
  font-style: italic;
  text-align: right;
}

/* page layout */

table {
  border-spacing: 0;
}

table.page>tbody>tr:first-child {
  display: flex;
  flex-direction: column;
}

div.social { /* social buttons */
  width: 50px;
  height: 100px;
  position: fixed;
  top: 30vh;
  left: 0;
  background-color: white;
}

div.social .facebook {
  height: 50px;
  background-color: #3b5998;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.social .twitter {
  height: 50px;
  background-color: #0eaad6;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main navbar (top) */

td.header {
  padding: 0;
  background-color: rgba(245,176,130,0.8);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 2px -2px gainsboro;
}

table.nav {
  width: 100%;
}

table.nav tbody {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

table.nav tbody tr {
  padding: 0.75rem 1.25rem;
  margin-right: 0.5rem;
}

table.nav tbody tr:first-child { /* aligns logo left */
  margin-right: auto;
}

table.nav tbody tr:first-child td a img { /* resize logo */
  max-width: 10rem;
}

table.nav tbody tr:last-child { /* targets join 'button' */
  margin-right: 1rem;
  border-radius: 0.35rem;
  background-color: orangered;
}

table.nav tbody tr:last-child>td>a {
  color: white;
  text-shadow: 1px 1px 1px gray;
}

table.nav tbody tr:last-child:hover { /* targets join 'button' */
  cursor: pointer;
}

/* image banner */

table.image-banner {
  margin-bottom: 1.5rem;
  display: none;
}

table.image-banner tbody tr {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

table.image-banner tbody tr td {
  flex: 1 0 15%;
  height: auto;
}

table.image-banner tbody tr td a img {
  max-width: 100%;
  height: auto;
  padding: 0.25rem;
}

/* page wrapper */

table {
  width: 100%;
}

td.main {
  padding: 2rem 6rem;
}

td.footer {
  margin-top: 2rem;
  padding: 3rem 6rem;
  background-color: rgba(245,176,130,1);
}

/* site list */

table.datahead>tbody {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

table.datahead>tbody>tr {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

table.datahead>tbody>tr>td:first-child {
  margin-right: auto;
  width: auto;
}

table.datahead>tbody>tr>td {
  width: 8rem;
  text-align: center;
}

table.datahead>tbody>tr>td:last-child>a{
  margin-right: 0;
}

table.datahead a {
  font-weight: 300;
}

/* footer */

td.footer>table {
  width: 100%;
}

td.footer>table>tbody {
  display: flex;
}

td.footer>table>tbody th {
  text-align: left;
  text-decoration: underline;
}

td.footer>table>tbody tr {
  display: flex;
  flex-direction: column;
}

td.footer>table>tbody tr:nth-child(1) td {
  margin-bottom: 0.5rem;
}

td.footer>table>tbody tr:nth-child(2) td {
  margin-bottom: 0.5rem;
}

td.footer>table>tbody tr:first-child {
  margin-right: 8rem;
}

td.footer>table>tbody tr:last-child {
  margin-left: auto;
  font-style: italic;
}

td.footer>table>tbody tr:last-child img {
  max-width: 12rem;
}

/* events list */

div.event>table>tbody>tr:first-child>td {
  border-bottom: 2px solid gainsboro;
  padding-bottom: 0.5rem;
}

div.event>table>tbody>tr:nth-child(2)>td {
  padding: 1rem 0;
}

div.event>table>tbody>tr:last-child {
  display: flex;
}

div.event>table>tbody>tr:last-child>td>table>tbody>tr>td:last-child {
  text-align: right;
}

div.event>table>tbody>tr:last-child>td {
  width: 100%;
}

div.event>table>tbody>tr:last-child>td {
  padding-top: 0.5rem;
  border-top: 2px solid gainsboro;
}

table.events-list>tbody>tr>td {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.event {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0px 0px 2px 1px gainsboro;
}

div.event * {
  font-size: 1.1rem;
}

table.event2 * {
  font-size: 1.1rem;
}

div.event img {
  max-width: 18%;
  float: left;
  margin-right: 1rem;
}

td.eventheaders>table.event2>tbody>tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

table.events-list {
  margin-bottom: 2rem;
}

table.events-list + table>tbody>tr>td>table>tbody>tr { /* target event list filter */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

table.events-list + table>tbody>tr>td>table>tbody>tr>td>a { /* target event list filter */
  font-family: "Lato", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

/* Some formatting the wiki uses embedded in pages, not in its own stylesheet. */

.frame {
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 2px 1px lightgray;
}

.lfloat {
  float: left;
  margin-right: 1rem;
}

.rfloat {
  float: right;
  margin-left: 1rem;
}

/* media queries */

@media screen and (max-width: 900px) {

  td.main {
    padding: 1rem;
  }
  
  td.footer {
    padding: 2rem 1.5rem;
  }

  div.event {
    min-width: 48%;
  }

  /* remove main links from footer on phablets */

  td.footer>table>tbody tr:nth-child(1) {
    display: none;
  }

  td.footer>table>tbody tr:last-child {
    text-align: right;
  }

}

@media screen and (max-width: 600px) {

  div.event {
    min-width: 98%;
  }

}