/* custom styles */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-color: #FFFFFF;
  font-family: "Lato", serif;
  color: black;
  margin: 0;
}

h1, h2, h3, h4, a.nav, td.footer a {
  font-family: "Literata", Helvetica, Arial, sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

a:hover {
  opacity: 0.75;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

p, li, a, td, div, span {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* page layout */

table {
  border-spacing: 0;
}

table.page>tbody>tr:first-child {
  display: flex;
  flex-direction: column;
}

/* main navbar (top) */

td.header {
  padding: 0;
}

table.nav {
  width: 100%;
}

table.nav tbody {
  padding: 0.25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #D1E0D6;
}

table.nav tbody tr {
  padding: 0.75rem 1.25rem;
  margin-right: 0.5rem;
}

table.nav tbody tr:first-child { /* aligns logo left */
  margin-right: auto;
}

table.nav tbody tr:last-child { /* targets join 'button' */
  margin-right: 1rem;
  border-radius: 0.35rem;
  background-color: #00B3B3;
  box-shadow: 0px 0px 2px 1px #b3cbbb;
}

table.nav tbody tr:last-child>td>a {
  color: white;
  text-shadow: 1px 1px 1px gray;
}

table.nav tbody tr:last-child:hover { /* targets join 'button' */
  box-shadow: inset 0px 0px 2px 1px #b3cbbb;
  cursor: pointer;
}

/* image banner */

table.image-banner tbody tr {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

table.image-banner tbody tr td {
  flex: 1 0 15%;
  height: auto;
}

table.image-banner tbody tr td a img {
  max-width: 100%;
  height: auto;
}

/* page wrapper */

table {
  width: 100%;
}

td.main {
  padding: 2rem 6rem;
}

td.footer {
  padding: 3rem 6rem;
  background-color: #D1E0D6;
}

/* site list */

table.datahead>tbody {
  display: flex;
  flex-direction: column;
}

table.datahead>tbody>tr {
  display: flex;
}

table.datahead>tbody>tr>td:first-child {
  margin-left: 0;
}

table.datahead>tbody>tr>td>a {
  width: 10rem;
}

/* footer */

td.footer>table {
  width: 100%;
}

td.footer>table>tbody {
  display: flex;
}

td.footer>table>tbody th {
  text-align: left;
  text-decoration: underline;
}

td.footer>table>tbody tr {
  display: flex;
  flex-direction: column;
}

td.footer>table>tbody tr:nth-child(1) td {
  margin-bottom: 0.5rem;
}

td.footer>table>tbody tr:nth-child(2) td {
  margin-bottom: 0.5rem;
}

td.footer>table>tbody tr:first-child {
  margin-right: 8rem;
}

td.footer>table>tbody tr:last-child {
  margin-left: auto;
  font-style: italic;
}

/* events list */

div.event>table>tbody>tr:first-child>td {
  border-bottom: 1px solid whitesmoke;
  padding-bottom: 0.5rem;
}

div.event>table>tbody>tr:nth-child(2)>td {
  padding: 1rem 0;
}

div.event>table>tbody>tr:last-child {
  display: flex;
}

div.event>table>tbody>tr:last-child>td>table>tbody>tr>td:last-child {
  text-align: right;
}

div.event>table>tbody>tr:last-child>td {
  width: 100%;
}

div.event>table>tbody>tr:last-child>td {
  padding-top: 0.5rem;
  border-top: 1px solid whitesmoke;
}

table.events-list>tbody>tr>td {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.event {
  padding: 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 4px 1px whitesmoke;
}

div.event * {
  font-size: 1.1rem;
}

table.event2 * {
  font-size: 1.1rem;
}

div.event img {
  max-width: 18%;
  float: left;
  margin-right: 1rem;
}

td.eventheaders>table.event2>tbody>tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Some formatting the wiki uses embedded in pages, not in its own stylesheet. */

.frame {
  border: 1px solid #cccccc;
  padding: 4px;
  background-color: #f9f9f9;
}

.lfloat {
  float: left;
  margin-right: 0.5em;
}

.rfloat {
  float: right;
  margin-left: 0.5em;
}

/* media queries */

@media screen and (max-width: 900px) {

  td.main {
    padding: 1rem;
  }
  
  td.footer {
    padding: 2rem 1.5rem;
  }

  div.event {
    min-width: 48%;
  }

  /* remove main links from footer on phablets */

  td.footer>table>tbody tr:nth-child(1) {
    display: none;
  }

  td.footer>table>tbody tr:last-child {
    text-align: right;
  }

}

@media screen and (max-width: 600px) {

  div.event {
    min-width: 98%;
  }

}